section.messages{
    margin-top: 5px;
    font-size: 1.5em;
}
.time{
    font-size: 0.6em;
    text-align: right;
}
.big_screen{
    display: block;
}
.small_screen{
    display: none;
}
#textarea1{
    font-size: 1.3em;
}
.brand-logo{
    height:90%;
    width:auto;
    margin:5px;
}
.logo{
    height:100%;
    width:auto;
}
section.messages h4{
    text-align: center;
}
.msg{
    width: auto;
    height: auto;
    background-color: #009688;
    color: white!important;
    border-radius: 5px;
}
#chat_box{
    max-height: 64vh;
    overflow-y: scroll;
    color:#606060!important;
}
.bubble_user{
    position: relative;
    width: 60%;
    min-height: 60px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: #81C784;
    border-radius: 10px;
    float: right;
    word-wrap:break-word;
}

.bubble_user:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 0 15px 15px;
    border-color: transparent #81C784;
    display: block;
    width: 0;
    z-index: 1;
    margin-top: -15px;
    right: -15px;
    top: 60%;
}
.bubble_other
{
    position: relative;
    width: 60%;
    min-height: 60px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: #80CBC4;
    border-radius: 10px;
    float: left;
    word-wrap: break-word;
}

.bubble_other:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent #80CBC4;
    display: block;
    width: 0;
    z-index: 1;
    margin-top: -15px;
    left: -15px;
    top: 60%;
}
@media screen and (max-width: 750px){

    .no_padding{
        padding-left: 0px !important;
        padding-right: 0px !important;

        width: 85% !important;
    }
    .bubble_user{
        width: 75%;
        right: 15px;
    }
    .bubble_other
    {
        width: 75%;
        left: 15px;
    }
    section.messages{
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .big_screen{
        display: none;
    }
    .small_screen{
        display: block;
    }
    .small_form{
        position: absolute;
        bottom: 0;
        z-index: 2;
    }
    #small_chat_box p{
        margin: 0px;
    }
    #small_chat_box{
        left: 0px;
        max-height: 75vh;
        width: 100vw;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
        overflow-y: scroll;
        overflow-x:hidden;
        color:#606060!important;
    }
}


