/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


p {
  line-height: 2rem;
}

h1.banner {
  font-size:6em;
}
div.button {
  margin-top: 50px;
}
.button-collapse {
  color: #26a69a;
}
.parallax-container-small {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #80CBC4;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);

  }
.parallax-container {
  padding-top: 100px;
  background-color: #80CBC4;
  min-height: 50vh;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

footer.page-footer{
  background-color: #80CBC4;
  color:#009688;
}
div .footer-container{
  background-color: #009688;
}

.icon-block {
  padding: 0 15px;
}
.bkg{
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer.page-footer {
  margin: 0;
}
