<section class = "container transactions" ng-cloak>
    <div class = "row">
        <section class = "col s12 m3 roommates">
            <h2 class = "section-header">Roommates</h2>
            <div class = "roommate card-panel" ng-repeat="person in roommates track by $index">
                <div class = "regular-display-card">
                    <div class = "roommate row">
                        <div class = "roommate col-xs-8 col-md-8">
                            <p class = "roommate-name">{{person.name}} - ${{person.money}}</p>
                            <p class = "roommate-balance" ng-hide="person.id == currentUser._id">Balance: ${{person.balance}}</p>
                            <p class = "roommate-balance" ng-hide="person.balance">No balance!</p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-lg btn-primary" type="submit" ng-click="updateBalances()">Update Balances</button>
        </section>


        <section class = "col s12 m9 groceries">
            <h2 class = "section-header">Groceries</h2>
            <!-- Mobile View -->
            <div class = "food-item visible-mobile">
                <div class = "food card-panel" ng-repeat="item in food track by $index">
                    <div class = "not-editing" ng-hide="item.isEditing">
                        <div class = "row">

                            <div class = "col-xs-8">
                                <p>{{item.name}}</p>
                            </div>
                            <div class = "col-xs-4">


                                <a class="btn btn-default mdi-action-delete" aria-hidden="true" ng-click="removeFood($index)"></a>
                                <a class="btn btn-default mdi-editor-mode-edit" aria-hidden="true" ng-hide="item.isEditing" ng-click="editFood($index)"></a>
                                <a class="btn btn-default mdi-action-done" aria-hidden="true" ng-show="item.isEditing" ng-click="saveFood($index)"></a>
                            </div>
                        </div>
                        <div class = "row">
                            <div class = "col-xs-6">
                                <p>${{item.cost}}</p>
                            </div>
                        </div>
                        <div class = "row">
                            <div class="btn-group">
                                <label class="btn btn-default roommate-button" ng-model="item.people[$index]" btn-checkbox ng-repeat="person in roommates track by $index"
                                       ng-change="calculateMoney()">{{person.name}}</label>
                            </div>
                        </div>
                    </div>
                    <div class = "editing" ng-show="item.isEditing">
                        <input class = "form-control input" placeholder = "Item Name" ng-model="item.editName" type="text">
                        <input class = "form-control input edit-cost" placeholder = "Cost" ng-model="item.editCost" type="text">
                        <p>
                            <a class="btn btn-default glyphicon glyphicon-trash" aria-hidden="true" ng-click="removeFood($index)"></a>
                            <a class="btn btn-default glyphicon glyphicon-ok" aria-hidden="true" ng-click="saveFood($index)"></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class = "visible-desktop">
                <table class = "striped centered responsive-tablefood-item">
                    <thead>
                        <tr ng-if="food.length">
                            <th>Item Name</th>
                            <th>Cost</th>
                            <th>Excluded People</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat = "item in food track by $index">
                            <td>
                                <p ng-hide="item.isEditing">{{item.name}}</p>
                                <input class = "form-control input" placeholder = "Item Name" ng-model="item.editName" type="text" ng-show="item.isEditing">
                            </td>
                            <td>
                                <p ng-hide="item.isEditing">${{item.cost}}</p>
                                <input class = "form-control input edit-cost" placeholder = "Cost" ng-model="item.editCost" type="text" ng-show="item.isEditing">
                            </td>
                            <td class = "buttons">

                                <div class="btn-group col m9">
                                    <label class="btn btn-default roommate-button" ng-model="item.people[$index]" btn-checkbox ng-repeat="person in roommates track by $index"
                                           ng-change="calculateMoney()">{{person.name}}</label>
                                </div>
                                <div class="edit-buttons col m3">
                                    <a class="btn btn-default mdi-action-delete" aria-hidden="true" ng-click="removeFood($index)"></a>
                                    <a class="btn btn-default mdi-editor-mode-edit" aria-hidden="true" ng-hide="item.isEditing" ng-click="editFood($index)"></a>
                                    <a class="btn btn-default mdi-action-done" aria-hidden="true" ng-show="item.isEditing" ng-click="saveFood($index)"></a>
                                </div>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <form class = "food-item form-inline" ng-submit = "addFood()">
                <div class = "input-field col m4 offset-m1">
                    <i class="mdi-action-description prefix"></i>
                    <input class = "form-control input " id="name" ng-model="newFood.name" type="text">
                    <label for="name">Item Name</label>
                </div>
                <div class = "input-field col m4 offset-m1">
                    <i class="mdi-editor-attach-money prefix"></i>
                    <input class = "form-control input " id="cost" ng-model="newFood.cost" type="text">
                    <label for="name">Cost</label>
                </div>


                <button class="btn btn-lg btn-primary waves-effect waves-light" type="submit">Add item!</button>
            </form>
        </section>
    </div>
</section>

