
/*taking out the duplicate buttons that materialize has */
@media (min-width: 960px){
	#mobile-demo{
		display: none;
	}
}

div .profile{
	color: #000000;
}

a, a:hover, a:focus, #login-buttons a{
    text-decoration: none;
}

a.brand-logo{
    margin-left: 100px;
}

li.meteor-login{
    margin-right: 100px;
}
a.brand-logo:hover{
    color: #c9c9c9;
}
a.button-collapse{
    padding-left: 5px;
}
