
section.homepage{
    text-align: center;

    span.new.badge{
        width: 60px;
        background-color: white;
        color: #009688;
    }

    p{
        font-size: 1.3rem;
    }

    h3{
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .card{
        background-color: #009688;
    }

    table.striped tbody tr:nth-child(odd){
        background-color: #4DB6AC;
    }

}
