<section class = "group container-fluid">
    <div class="row" ng-show="$root.currentUser.profile.group" ng-hide="groupId">
        <div class="col s12 m6 offset-m3">
            <div class="card center">
                    <h3>My roommates</h3>
                    <h5>in {{data.group.name}}</h5>
                    <h4 ng-repeat="person in data.members">
                        {{person.profile.name}}
                    </h4>
                </div>
        </div>
    </div>
    <div class="row" ng-show="$root.currentUser" ng-hide="groupId">
        <div class="col s12 m6 offset-m3">
            <div class="card center">
                <h3>Create a new group:</h3>
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="mdi-action-account-circle prefix"></i>
                            <input id="icon_prefix" type="text" class="validate" ng-model="newGroup.name">
                            <label for="icon_prefix">Name</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="mdi-action-description prefix"></i>
                            <input id="icon_telephone" type="text" class="validate" ng-model="newGroup.description">
                            <label for="icon_telephone">Description</label>
                        </div>
                        <button class="waves-effect waves-light btn" ng-click="newGroup.owner=$root.currentUser._id;create_group(newGroup); newGroup='';">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row" ng-show="$root.currentUser || groupId">
        <div class="col s12 m6 offset-m3">
            <div class="card center">
                <h3>Join an existing group:</h3>
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s8">
                            <i class="mdi-action-account-circle prefix"></i>
                            <input id="icon_prefix" type="text" class="validate" ng-value="groupId" ng-model="joinGroup.groupId">
                            <label for="icon_prefix">Group ID</label>
                        </div>
                        <div class ="col s4 button">
                            <button class="waves-effect waves-light btn" ng-click="join_group(joinGroup.groupId); joinGroup='';">Join</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

