<form ng-show="$root.currentUser">
  <h2>Create a new group:</h2>
  <label>Name</label>
  <input ng-model="newGroup.name">
  <label>Description</label>
  <input ng-model="newGroup.description">
  <label>Public</label>
  <input type="checkbox" ng-model="newGroup.public">
  <button ng-click="newGroup.owner=$root.currentUser._id;create_group(newGroup); newGroup='';">Add</button>
</form>
<div ng-hide="$root.currentUser || $root.loggingIn">
  Log in to create a party!
</div>
<dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
