 <link rel="stylesheet" href="../home.css" media="screen" />
<section class="todo container">
    <div class = "row">
        <div class = "col s12 l10 offset-l1">
            <h3>To-Do List <span class="new badge" style="color:teal" ng-show="todos[0].todos">{{todos[0].todos.length}}</span></h3>
            <div class = "card white-text">
                <div class = "card-content">
                    <table class="striped-teal">
                        <tr ng-repeat="todo in todos[0].todos" class="msgs">
                            <td>
                                <p><b>{{todo.name}}:</b><span style = "text-align: right;">{{todo.date}}</span></p>
                            </td>
                        </tr>
                    </table>
                </div>

                <form class="col s12 l12" ng-show="$root.currentUser">
                    <div class = "row">
                    <div class="input-field col s6">
                        <input ng-model="todoInfo.name" id="todo_name" type="text" class="validate">
                        <label for="todo_name">Item Title</label>
                    </div>
                    <div class="input-field col s6">
                        <input ng-model="todoInfo.date" id="todo_date" type="text" class="validate">
                        <label for="todo_date">Date</label>
                    </div>
                    </div>
                    <button ng-click="add(todoInfo); todoInfo='';" class = "btn btn-primary waves-effect waves-light">Submit<i class="mdi-content-send right"></i></button>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- <div ng-repeat="todo in todos[0].todos">
    {{todo}}
</div>

  <h2>Add a new Todo:</h2>
  <br>
 
</form>
 -->
