<section class="todo container">
    <div class = "row">
        <div class = "col s12 l10 offset-l1">
            <h3>To-Do List <span class="new badge" style="color:teal" ng-show="todos[0].todos">{{todos[0].todos.length}}</span></h3>
            <div class = "card">
                <div class = "card-content">
                    <table class="striped">
                        <tr ng-repeat="todo in todos[0].todos" class="msgs">
                            <td>
                                <p><input ng-click="toggleChecked($index)" id="check_{{$index}}" style="display: inline-block; "type="checkbox" ng-checked="todo.checked" /><label for="check_{{$index}}"></label> <b>{{todo.name}}:</b> <span>{{todo.date}}</span> </p>
                            </td>
                        </tr>
                    </table>
                </div>

                <form class="col s12 l12" ng-show="$root.currentUser">
                    <div class = "row">
                    <div class="input-field col s6">
                        <i class="mdi-action-description prefix"></i>
                        <input ng-model="todoInfo.name" id="todo_name" type="text" class="validate">
                        <label for="todo_name">Item Title</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="mdi-device-access-time prefix"></i>
                        <input ng-model="todoInfo.date" id="todo_date" type="text" class="validate">
                        <label for="todo_date">Date</label>
                    </div>
                    </div>
                    <button ng-click="add(todoInfo); todoInfo='';" class = "btn btn-primary waves-effect waves-light">Submit<i class="mdi-content-send right"></i></button>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- <div ng-repeat="todo in todos[0].todos">
    {{todo}}
</div>

  <h2>Add a new Todo:</h2>
  <br>

</form>
 -->
