<section class="homepage containers">
    <h2>Your suite, at a glance!</h2>
    <div class = "row">
        <div class = "col-md-5 col-md-offset-1">
            <div class = "row">
                <div class = "col-md-12">
                    <h3>Your Next Bill</h3>
                    <p>March 9 - $99 - Waterloo Hydro</p>
                </div>
            </div>
            <div class = "row">
                <div class = "col-md-12">
                    <h3>Upcoming Events</h3>
                    <p>March 12 - Suite Cleanup</p>
                </div>
            </div>
        </div>
        <div class = "col-md-5">
            <h3>New Messages</h3>
            <table class="striped">
                <tr>
                    <td>
                        <p><b>John: </b>Semi-formal's on Friday, anyone feel like going?</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><b>Jane: </b>Let's go!</p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>
