<link rel="stylesheet" type="../css" href="css.css" media="screen" />
<!--<script>
    window.onload=function(){
        var elem = document.getElementById('chat_box');
        elem.scrollTop = elem.scrollHeight;
    };
</script>-->
<section class="messages container">
    <div class = "row">
        <div class = "col s12 l10 offset-l1">
            <h3>New Messages <span class="new badge">{{messages[0].messages.length}}</span></h3>
            <div class = "card">
                <div class = "card-content " id="chat_box">
                    <table class="striped">
                        <tr ng-repeat="msg in messages[0].messages"  
                            ng-init="userInfo=identifyUser(msg)">
                            <td>
                                <p><b>{{userInfo.userName}}</b></p>
                                <p>{{msg.message}}</p>
                            </td>
                        </tr>
                    </table>
                </div>
                <form class="col s12 l12" ng-show="$root.currentUser">
                    <div class="row" style="margin-bottom:0">
                        <div class="input-field col s12 l12  teal lighten-5 black-text">
                            <div class="col s11 l11">
                            <textarea id="textarea1" class="materialize-textarea" ng-model="message"></textarea>
                            </div>
                            <div class="col s1 l1 valign-wrappe">
                           <i class=" medium mdi-content-send valign"  ng-click="say(message); message='';"></i>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
